*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.supportSection{
    background: #f5f7fa;
    /* min-height: 500px; */
}

.container{
    width: 1200px;
    margin: auto;
    /* text-align: center; */
    display: flex;
    padding: 50px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.1;
}
div{
    display: block;
}

.content {
    /* align-items: center; */
}
h2{
    font-size: 45px;
    line-height: 1;
    margin: 15px auto;
}
h6{
    font-size: 20px;
}
a{
    padding: 15px 35px;
    font-size: 23px;
    display:
    inline-block;
    text-decoration: none;
    background: #2e367d;
    color: #fff;
    border-radius: 8px;
    border: none;
    margin-top: 15px;
    font-weight: 700;
}
a:hover{
   color: #fff;
   background: #007bff;
}
p{
    font-size: 22px;
}
/* .content{
    width: 50%;
    float: right;
}
.banner{
    width: 50%;
    float: left;
} */ 